{
  "presets": ["env", "react", "flow"],
  "plugins": [
    "syntax-async-functions",
    "root-import"
  ],
  "env": {
    "production": {
      "presets": [
        [ "minify", { "mangle": false } ]
      ]
    }
  }
}
