html
  head
    meta(charset="utf-8")
    title.
      Noted
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
    link(rel="manifest" href="/manifest.json")
    meta(name="theme-color" content="#303030")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png")
    
    script(defer src="/assets/js/manifest-d54180fff5dbf5dadc25.js")
    
    script(defer src="/assets/js/vendor-c915a95220d3e24e036b.js")
    
    script(defer src="/assets/js/main-e00846cf5baba4d79f00.js")
    
    meta(name="viewport" contents="width=device-width")
    script(type='text/javascript').
      let user = !{user};

  body
    div#root
